extends layout

block content
  h1= title
  p Welcome
  a(href="work_orders")
   button(type="button") Work Orders
  a(href="products")
   button(type="button") Product Types
  a(href="operators")
   button(type="button") Operators
